body{
	background-color: #EBE8E8;
}
header{
	height: 80px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
#header{
	width: 1150px;
	display: flex; 
	margin-top: 10px;
	position: relative;
}
#mainName{
	color: #2599FF;
	font-size: 40px;
	font-weight: bold;
	margin-right: 20px;
}
#selectCity{
	height: 20px;
	margin-top: 20px;
	border: none;
	background-color:#EBE8E8; 
}
#star,#user{
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

#divSearch1{
	width: calc(100% - 450px);;
	display: flex;
}
#divSearch2{
	display: none;
}
#searchInput{
	height: 45px;
	width: 84%;
	border-bottom-left-radius:3px;
	border-top-left-radius: 3px; 
}
#leftOperations{
	display: flex;
	width: 300px;
	position: absolute;
	right: 0px;
}
#searchButton{
	height: 49px;
	background-color: #8AB5FF;
	color: white;
	padding: 10px;
	width: 15%;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
#searchButton:hover{
	background-color: #5292FF;
}
.search{
	border:1px solid #8AB5FF;
}
#add{
	width:150px;
	height: 49px;
	margin-left: 40px; 
	background-color:#EBE8E8;
	border: 1px solid orange; 
	border-radius: 3px;
	font-size: 15px;
	padding: 5px;
	color: grey;
}
#add:hover{
	background-color:orange;
	color: white;
}
section{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#section{
	width: 1150px;
	background-color: white;
}
#path{
	margin-left: 20px;
}
#otherSection a{
	margin: 30px;

}
#cards{
	margin-top: 30px;
}
.card{
	margin: 20px;
	width: 100%;
	position: relative;
	display: flex;
}
.discr{
	width: 80%;
}
.cardImg{
	height: 120px;
	position: relative;
	top: 15px;
}
.linkCard{
	margin: 20px;
	position: relative;
	border-bottom: 1px dashed grey;
	width: 80%;
	height: 70px;
}
.linkCard a{
	font-size: 22px;
}
.prise{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 20px;
}
.data{
	margin: 20px;
}
footer{
	height: 100px;
}
#footer{
	margin-left: 10%;
	margin-top: 45px;
	display: flex;
}
#footerLink{
	margin-left: 50%;
	font-weight: bold;
	
}
#numberPage{
	margin: 20px;
	height: 70px;
	background-color: #EBE8E8;
	border: 1px solid #C4BCBC ;
	border-radius: 3px;
	padding: auto;
}
#numberPage div{
	margin: 25px;
}
#numberPage div a{
	margin: 20px;
}
#bottomLink{
	margin: 20px;
}
@media(max-width: 750px){
	
	#divSearch2{
		width: 100%;
		margin-left: 20px;
		background-color: white;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
	}
	
	#selectCity{
		width: 100%;
		height: 30px;
		border: 1px solid skyblue;
		margin-bottom: 20px;
	}
	#divSearch1{
		display: none;
	}
	.prise{
		position: relative;
	}
	.linkCard p,.data{
		display: none;
	}
	.data.

}
